.cards-wrapper {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 278px;
    height: 278px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 20px;

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin-top: 20px;

      span {
        border: 1px solid black;
        padding: 5px;
      }

      span:first-child {
        border: 1px solid gray;
      }

      .liked {
        background: red;
        color: white;
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .add {
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-wrapper {
      width: 60px;
      height: 60px;

      img { 
        max-width: 100%;
      }
    }
  }
}

.container {
  width: 1200px;
}